.search-box {
  display: flex;
  padding: 0;
  position: relative;
  margin: 24px auto;
}

@media screen and (min-width: 1024px) {
  .search-box {
    max-width: 50%;
  }
}

#searchInput {
  width: 100%;
  border: 0;
  background: transparent;
  color: #fff;
  border: 1px solid #ffffff47;
  padding: 12px 28px;
  border-radius: 52px;
  margin: 0 1rem;
}

#searchInput:focus-visible {
  outline: 0;
}

#searchInput::placeholder {
  opacity: 0.8;
  color: #fff;
}

.search-btn {
  background: transparent;
  border: 0;
  position: absolute;
  color: #fff;
  right: 14px;
  top: 6px;
}

.search-btn .search-icon{
  font-size: 2rem;
}

.songlist-wrapper{
  display: flex;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.img-avatar{
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.songlist-wrapper audio{
  display: none;
}

.audio-controls {
  margin-left: auto;
}

.pauseBtn {
  display: none;
}

.songlist-wrapper audio {
  display: none;
}

.pause-btn{
  display: none;
}

.songlist-wrapper.playing .play-btn {
  display: none;
}

.songlist-wrapper.playing .pause-btn {
  display: block;
}

.audio-btn{
  font-size: 3rem;
  cursor: pointer;
}

.album-list{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.album-list p {
  max-width: 94%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.albumname {
  max-width: calc(100% - 84px);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}